@{
    ViewData["Title"] = "Home Page";
}
@*<div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p><h2>這是我的Vue學習網站</h2></p>
        <img src="~/image/62662599.jpg" />
    </div>*@
@*https://dometi.com.tw/blog/video-html5/*@
<style>
    body {
        position: relative;
        width: 100%;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    #full-voideo {
        /*position: fixed;*/
        position: center;
        min-width: 100%;
        min-height: 100%;
        right: 0;
        bottom: 0;
    }
</style>
<video autoplay loop id="full-voideo">
    <source src="~/image/G.mp4" type="video/mp4" />
</video>
